// Чтобы использовать миксин в селекторе, используется ключевое слово @include

@mixin offset {
  position: relative;
  left: 7px;
}

@mixin resetting-offset {
  position: relative;
  left: 0px;
}

@mixin span-offset {
  position: relative;
  top: 4px;
}

@mixin input-offset {
  position: relative;
  bottom: -13px;
}

//смещение изображений для разрешения экрана 1920px

@mixin offset-gallery-grid-one-1920px {
  position: relative;
  left: 8px;
  height: 100%;
}

@mixin offset-gallery-grid-two-1920px {
  position: relative;
  left: 7px;
  top: 3px;
  height: 100%;
}

@mixin offset-gallery-grid-three-1920px {
  position: relative;
  left: 7px;
  top: 2px;
  height: 100%;
}

//смещение изображений для разрешения экрана 1024px

@mixin offset-gallery-grid-one-1024px {
  position: relative;
  bottom: 22px;
  height: 140%;
}

@mixin offset-gallery-grid-two-1024px {
  position: relative;
  top: 64px;
  height: 141%;
  left: 8px;
}

@mixin offset-gallery-grid-three-1024px {
  position: relative;
  top: 152px;
  height: 140%;
}

//смещение изображений для разрешения экрана 360px

@mixin offset-gallery-grid-one-360px {
  position: relative;
  bottom: 22px;
  width: 100%;
  height: 106%;
}

@mixin offset-gallery-grid-two-360px {
  position: relative;
  top: -16px;
  width: 100%;
  height: 106%;
}

@mixin offset-gallery-grid-three-360px {
  position: relative;
  top: -16px;
  left: 9px;
  width: 101%;
  height: 106%;
}

@mixin offset-gallery-grid-four-360px {
  position: relative;
  top: -10px;
  width: 101%;
  height: 107%;
  left: 5px;
}