// Чтобы использовать миксин в селекторе, используется ключевое слово @include

// ========== Смещение элементов ========== //

@mixin offset {
  position: relative;
  left: 7px;
}

@mixin resetting-offset {
  position: relative;
  left: 0px;
}

@mixin offset-navbar-link-8px {
  position: relative;
  left: 8px;
}

// смещение элементов формы

@mixin span-offset {
  position: relative;
  top: 4px;
}

@mixin input-offset {
  position: relative;
  bottom: -13px;
}

//смещение элементов хедера 
@mixin header-offset {
  position: relative;
  left: 15px;
}

//смещение изображений для разрешения экрана 1920px

@mixin offset-gallery-grid-one-1920px {
  position: relative;
  left: 8px;
  height: 100%;
}

@mixin offset-gallery-grid-two-1920px {
  position: relative;
  left: 7px;
  top: 1px;
  height: 100%;
}

@mixin offset-gallery-grid-three-1920px {
  position: relative;
  left: 7px;
  top: 1px;
  height: 100%;
}

@mixin offset-gallery-grid-four-1920px {
  position: relative;
  left: 7px;
  top: 0px;
  height: 100%;
}

//смещение изображений для разрешения экрана 1024px

@mixin offset-gallery-grid-one-1024px {
  position: relative;
  bottom: 22px;
  height: 140%;
}

@mixin offset-gallery-grid-two-1024px {
  position: relative;
  top: 64px;
  height: 141%;
  left: 8px;
}

@mixin offset-gallery-grid-three-1024px {
  position: relative;
  top: 152px;
  height: 140%;
}

//смещение изображений для разрешения экрана 360px

@mixin offset-gallery-grid-one-360px {
  position: relative;
  bottom: 22px;
  width: 100%;
  height: 106%;
}

@mixin offset-gallery-grid-two-360px {
  position: relative;
  top: -16px;
  width: 100%;
  height: 106%;
}

@mixin offset-gallery-grid-three-360px {
  position: relative;
  top: -16px;
  left: 9px;
  width: 101%;
  height: 106%;
}

@mixin offset-gallery-grid-four-360px {
  position: relative;
  top: -10px;
  width: 101%;
  height: 107%;
  left: 5px;
}

// ========== Стилизация элементов секций ========== //

@mixin stylization-description {
  margin: 30px 0 100px 0;
  text-align: center;
}

@mixin holder-offset {
  position: relative;
  top: 2px;
}

@mixin background-with-picture-and-animation {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease;
  transform: scale(1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin gradient {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

// нижнее подчеркивние
@mixin underscore {
  text-decoration: underline; //обычное подчёркивание
  text-decoration-thickness: 1px; // задаёт толщину линии
  text-underline-offset: 6px; // смещаем подчёркивание вниз
}

@mixin underscore-sctn-categories {
  text-decoration: underline; //обычное подчёркивание
  text-decoration-thickness: 2px; // задаёт толщину линии
  text-underline-offset: 9px; // смещаем подчёркивание вниз 
}