// Чтобы использовать миксин в селекторе, используется ключевое слово @include

//смещение изображений для разрешения экрана 1920px

@mixin offset {
  position: relative;
  left: 7px;
}

@mixin offset-gallery-grid-one {
  position: relative;
  left: 7px;
  bottom: 2px;
}

@mixin offset-gallery-grid-two {
  position: relative;
  left: 7px;
  bottom: 9px;
}

@mixin offset-gallery-grid-three {
  position: relative;
  left: 7px;
  bottom: 15px;
}

//смещение изображений для разрешения экрана 1024px

@mixin offset-gallery-1024px {
  position: relative;
  bottom: 24px;
}