@use "vars" as *;

// ============ Общие стили =========== //
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  //outline: palevioletred solid 1px;
}

html {
  height: 100%;

  // включают padding и border в общую ширину элемента
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: $beige-100;
  //overflow-x: hidden;

  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// ================== Заголовки ==================== //

.page-title {
  font-weight: 700;
  font-size: 6rem; // 96px
  //font-size: clamp(2.125rem, 9.5vw, 6rem); // 34px - 96px
  line-height: 1.09;
  letter-spacing: 0.02em;
  text-align: center;
  color: $white;

  @media screen and (max-width: 860px) {
    font-size: 4.5rem; // 72px
  }

  @media screen and (max-width: 560px) {
    font-size: 3.6875rem; //59px
  }

  @media screen and (max-width: 450px) {
    font-size: 3rem; //48px
  }

  @media screen and (max-width: 360px) {
    font-size: 2.125rem; // 34px
    line-height: 1.12;
  }
}

.title {
  font-weight: 700;
  font-size: clamp(2.125rem, 3.5vw + 1.5rem, 3.6875rem); // 34px - 59px
  line-height: 1.24;
  text-align: center;
  color: $black;

  @media screen and (max-width: 1024px) {
    font-size: 3.6875rem; // 59px
  }

  /*   @media screen and (max-width: 425px) {
    font-size: 2.25rem; // 36px
    line-height: 1.12;
    letter-spacing: 0.02em;
  } */

  @media screen and (max-width: 360px) {
    font-size: 2.125rem; // 34px
    line-height: 1.12;
    letter-spacing: 0.02em;
  }
}

.subtitle {
  font-weight: 500;
  font-size: clamp(1.4375rem, 1.2vw + 1.1rem, 2.1875rem); // 23px - 35px
  line-height: 1.22;
  color: $black;

  @media screen and (max-width: 1024px) {
    font-size: 2.1875rem; // 35px
  }

  @media screen and (max-width: 360px) {
    font-size: 1.4375rem; // 23px
    line-height: 1.20;
    letter-spacing: 0.04em;

    position: relative;
    top: 2px;
    right: 1px;
  }
}

// ================== Кнопки ==================== //

.find,
.reset {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  max-width: 235px;
  width: 100%;
  height: 58px;
  white-space: nowrap;
  cursor: pointer;

  @media screen and (max-width: 425px) {
    max-width: 134px;
    min-width: 113px;
    height: 47px;
  }

  @media screen and (max-width: 350px) {
    padding: 0px;
  }
}

.find {
  background: $green-400;
  color: $white;

  &:hover {
    background: $green-300;
  }

  &:active {
    background: $green-200;
  }
}

.reset {
  background: $green-100;
  color: $green-400;

  &:hover {
    background: $gray-100;
  }

  &:active {
    background: $gray-200;
  }
}

// Шаблон для ограничения контента, добавлять к стилям командой @extend %container;

%container {
  max-width: 1198px; // 1170px
  min-width: 305px;
  margin: 0 auto;
  padding: 0 14px;

  @media screen and (max-width: 360px) {
    width: 100%;
  }
}

%gallery-container {
  max-width: 1966px; // 1920px
  min-width: 305px;
  margin: 0 auto;
  padding: 0 23px;

  @media screen and (max-width: 1024px) {
    padding: 0 13px;
  }

  @media screen and (max-width: 360px) {
    padding: 0 16px;
  }
}