@use "vars" as *;

// ============ Общие стили =========== //
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;

  font-size: 62.5%; //10px

  box-sizing: border-box;
}

body {
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: $black;
}

main {
  flex-grow: 1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: invert;
}

//==================Заголовки====================//
.page-title {
  font-weight: 700;
  font-size: 9.6em;

  // Для перевода в пиксели используем формулу:
  // line-height (в пикселях) = font-size × (line-height в %) / 100.

  line-height: 105px;
  letter-spacing: 0.02em;
  text-align: center;
  color: $white;

  @media screen and (max-width: 360px) {
    font-size: 3.4em;
    line-height: 38px;
  }
}

.title {
  font-weight: 700;
  font-size: 5.9em;
  // font-size × (line-height в %) / 100 
  line-height: 73px;
  text-align: center;
  color: $black;

  @media screen and (max-width: 360px) {
    font-size: 3.4em;
    line-height: 38px;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 3.5em;
  // font-size × (line-height в %) / 100 
  line-height: 43px;
  color: $black;

  @media screen and (max-width: 360px) {
    font-size: 2.3em;
    line-height: 28px;
  }
}

// Шаблон для ограничения контента, добавлять к стилям командой @extend %container;

%container {
  max-width: 1920px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 1.5%;
}