//======== Цвета ========//

$black: #1b1f2b;
$white: #fff;
$green-100: #e0f0e5;
$green-200: #627f7e;
$green-300: #3b7e7b;
$green-400: #286562;
$beige-100: #f9f7f4;
$beige-200: #f4f0e9;
$orange-100: #f8e6be;
$orange-200: #efa501;
$gray-300: #a6a6a6;
$gray-200: #d9dfdb;
$gray-100: #f1f3f2;

//======== Шрифты и размеры ========//

$font-family: "Roboto", 'Arial', 'Helvetica', sans-serif;
$font-weight: 400;
$font-size: 1.25rem; // 20px
//$font-size: clamp(1rem, 1.3vw, 1.25rem); // 16px - 20px
$line-height: 1.42;

//======== Цвет фона ========//

$fixed-menu-bgc: rgba(243, 239, 232, 0.6);