@use "../vars" as *;
@use "../mixin" as *;
@use "../templates";

.footer {
  background: $beige-200;
  margin-top: 135px;

  @media screen and (max-width: 768px) {
    margin-top: 57px;
  }

  .container {
    @extend %container;
    width: 100%;
    min-height: 88px;
    @include offset;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1024px) {
      padding: 0 46px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    @media screen and (max-width: 516px) {
      font-size: 1rem;
      padding: 0;
    }

    @media screen and (max-width: 350px) {
      @include resetting-offset;
    }

    .footer__text {
      color: $gray-300;
      @include holder-offset;
      left: 1px;

      @media screen and (max-width: 1024px) {
        top: 0;
      }

      @media screen and (max-width: 768px) {
        top: 22px;
      }
    }

    .nav-social {
      position: relative;

      .nav-social__items {
        display: flex;
        gap: 25px;

        @media screen and (max-width: 768px) {
          margin-top: 8.5px;
        }

        @media screen and (max-width: 375px) {
          gap: 15px;
        }

        .nav-social__item {
          align-items: center;
          position: relative;

          &:nth-child(1) {
            @media screen and (max-width: 1024px) {
              bottom: 3px;
              left: 2px;
            }

            @media screen and (max-width: 375px) {
              bottom: 12px;
              left: 3px;
            }
          }

          &:nth-child(2),
          &:nth-child(3) {
            @media screen and (max-width: 1024px) {
              bottom: 3px;
              left: 1px;
            }
          }

          &:nth-child(2) {
            @media screen and (max-width: 375px) {
              bottom: 11px;
              left: -1px;
            }
          }

          &:nth-child(3) {
            @media screen and (max-width: 375px) {
              bottom: 12px;
              left: -10px;
            }
          }

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            @media screen and (max-width: 350px) {
              bottom: 0;
              left: 0;
            }
          }

          .nav-social__link {
            &:hover {
              @include underscore;
            }

            @media screen and (max-width: 349px) {
              display: flex;
            }

            .nav-social__icon {
              margin-right: 6px;
              position: relative;

              @media screen and (max-width: 375px) {
                margin-right: 5px;
              }

              @media screen and (max-width: 350px) {
                width: 20%;
              }
            }
          }
        }
      }

      #tg,
      #fb,
      #vk {
        left: 1px;
        top: 6px;
      }

      #tg {
        @media screen and (max-width: 1024px) {
          top: 2px;
        }

        @media screen and (max-width: 360px) {
          left: 6px;
          top: 6px;
        }
      }

      #fb {
        @media screen and (max-width: 360px) {
          left: 5px;
        }
      }

      #vk {
        @media screen and (max-width: 360px) {
          left: 6px;
        }
      }

    }
  }
}