@use "../vars" as *;
@use "../mixin" as *;

.header {
  width: 100%;
  max-width: 1920px;
  height: 88px;
  background-color: transparent;
  position: relative;
  left: 12%;
  color: $white;
  cursor: pointer;

  @media screen and (max-width: 1920px) {
    left: 0%;
  }

  @media screen and (max-width: 860px) {
    font-size: 1.125rem; //18px
  }

  @media screen and (max-width: 765px) {
    font-size: 1.0625rem; //17px
  }

  &.scrolling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(54px);
    background: $fixed-menu-bgc;
    color: $black;
    z-index: 20;
  }

  .container {
    max-width: 1215px; // 1168px
    margin: 0 auto;
    padding: 28.88px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1024px) {
      max-width: 958px; // 910px
    }

    @media screen and (max-width: 360px) {
      padding: 32.5px 20px;
    }

    .header__logo>svg {
      @include header-offset;

      width: 100%;
      max-width: 182px;
      height: 32px;

      @media screen and (max-width: 1024px) {
        max-width: 182px;
        height: 32px;
      }

      @media screen and (max-width: 860px) {
        max-width: 152px;
      }

      @media screen and (max-width: 765px) {
        max-width: 147px;
      }

      @media screen and (max-width: 360px) {
        max-width: 137px; // 133px
        height: 23px; // 22px
        left: -2px;
        top: 0px;
      }
    }

    .navbar {
      padding-bottom: 6px;

      @media screen and (max-width: 1024px) {
        max-width: 428px; // 408px
      }

      @media screen and (max-width: 735px) {
        display: none;
      }

      @media screen and (max-width: 360px) {
        display: none;
      }

      .navbar__items {
        display: flex;
        gap: 50px;

        @media screen and (max-width: 1024px) {
          gap: 30px;
        }
      }

      .navbar__link {
        color: $white;

        &:hover {
          width: 80px;
          height: 0px;
          color: $white;
          @include underscore;
        }
      }

      .navbar__link-tours,
      .navbar__link-create {
        @include offset;
      }

      .navbar__link-reviews,
      .navbar__link-stories {
        @include offset-navbar-link-8px;
      }
    }

    .header__contacts-phone {
      position: relative;
      bottom: 4px;
      font-style: normal;

      &:hover {
        @include underscore;
      }

      @media screen and (max-width: 360px) {
        font-size: 1rem;
        @include header-offset;
      }
    }

  }
}