@use "../vars" as *;

.header {
  backdrop-filter: blur(54px);
  background: rgba(243, 239, 232, 0.6);
  width: 100%;
  max-width: 1920px;
  height: 88px;

  .container {
    max-width: 1184px; //1168px
    margin: 0 auto;
    padding: 28.88px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo>img {
      padding-left: 0px;
    }

    .navbar {
      padding-bottom: 6px;
      padding-left: 10px;

      .navbar__items {
        display: flex;
        gap: 50px;

        .navbar__item {
          text-decoration-thickness: 2px;

          .navbar__item:hover {
            text-decoration: underline;
          }
        }

        .navbar__link {
          color: $black;
        }
      }

      .phone {
        color: $black;
      }
    }
  }
}