@use "../vars" as *;

.header {
  width: 100%;
  max-width: 1920px;
  height: 88px;
  background-color: transparent;
  position: relative;
  z-index: 10;
  color: $white;

  .container {
    max-width: 1215px; // 1168px
    margin: 0 auto;
    padding: 28.88px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 360px) {
      padding: 32.5px 20px;
    }

    .logo>img {
      padding-left: 15px;

      @media screen and (max-width: 360px) {
        width: 132px;
        height: 22px;
        margin: -1px -2px;
      }
    }

    .navbar {
      padding-bottom: 6px;
      padding-right: 7px;

      @media screen and (max-width: 360px) {
        display: none;
      }

      .navbar__items {
        display: flex;
        gap: 50px;
      }

      .navbar__link {
        color: $white;

        .navbar__link:hover {
          text-decoration: underline;
          text-decoration-color: $white;
        }
      }

      .navbar__link-tours {
        padding-left: 8px;
        letter-spacing: 0.005em;
      }

      .navbar__link-create {
        padding-left: 4px;
        letter-spacing: -0.005em;
      }

      .navbar__link-reviews {
        padding-left: 2px;
        letter-spacing: 0.005em;
      }

      .navbar__link-stories {
        padding-left: 2px;
        letter-spacing: 0.01em;
      }
    }

    .phone {
      padding-bottom: 9px;

      @media screen and (max-width: 360px) {
        font-size: 1rem;
        margin-right: -15px;
        margin-top: -2px;
      }
    }
  }
}