@use "../vars" as *;

.header {
  width: 100%;
  max-width: 1920px;
  height: 88px;
  background-color: transparent;
  position: relative;
  z-index: 10;
  color: $white;

  .container {
    max-width: 1184px;
    margin: 0 auto;
    padding: 28.88px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo>img {
      padding-left: 0px;
    }

    .navbar {
      padding-bottom: 6px;
      padding-left: 10px;

      .navbar__items {
        display: flex;
        gap: 50px;
      }

      .navbar__link {
        color: $white;

        .navbar__link:hover {
          text-decoration: underline;
          text-decoration-color: $white;
        }
      }
    }
  }
}