@use "../vars" as *;
@use "../mixin" as *;
@use "../templates";

.section-action {
  .container {
    @extend %container;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    margin-top: 135px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    @media screen and (max-width: 375px) {
      margin-top: 75px;
    }

    .section-action__img {
      border-radius: 50px;
      max-width: 370px;
      width: 100%;
      height: 370px;
      @include offset;
      top: 2px;

      @media screen and (max-width: 1024px) {
        top: 0px;
      }

      @media screen and (max-width: 375px) {
        border-radius: 20px;
        width: 130px;
        height: 133px;
        top: 2px;
      }
    }

    .section-action__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      max-width: 371px;
      width: 100%;
      height: 162px;

      @include offset;
      top: 2px;

      @media screen and (max-width: 1024px) {
        top: 0px;
      }

      @media screen and (max-width: 768px) {
        text-align: center;
      }

      @media screen and (max-width: 375px) {
        margin-top: -20px;
        max-width: 310px;
      }

      .section-action__subtitle {
        @media screen and (max-width: 379px) {
          font-size: 1.875rem; //30px
        }

        @media screen and (max-width: 375px) {
          font-weight: 700;
          font-size: 1.4375rem;
          top: 4px;
          left: 1px;
        }
      }

      .section-action__description {
        color: $gray-300;
        font-style: normal;
        margin-top: 20px;

        & a {
          color: $black;

          &:hover {
            @include underscore-btn;
          }

          &:active {
            @include underscore-btn;
            color: $green-400;
          }

          @media screen and (max-width: 375px) {
            position: relative;
            left: 3px;
          }
        }

        @media screen and (max-width: 379px) {
          font-size: 1.125rem; // 18px
        }

        @media screen and (max-width: 375px) {
          font-size: 1rem;
          margin-top: 25px;
        }
      }
    }
  }
}