@use "../vars" as *;
@use "../templates";

.section-form {
  .container {
    @extend %container;

    .section-form__title {
      margin-top: 135px;
    }

    .section-form__text {
      margin: 30px 376px 100px;
      text-align: center;
      color: $grey-300;
    }

    .section-form__form {
      border-radius: 50px;
      padding: 70px;
      max-width: 1170px;
      width: 100%;
      height: 986px;
      background: $white;


      .wrapper {
        display: flex;
        min-width: 500px;
        width: 100%;
      }

      input,
      select {
        margin-top: 8px;
        border: 1px solid $beige-200;
        border-radius: 10px;
        padding: 20px;
        max-width: 500px;
        width: 100%;
        height: 68px;
        color: $grey-300;
        background: $beige-100;

        &[type="radio"],
        &[type="checkbox"] {
          width: 26px;
          height: 26px;
        }

        option {
          color: $black;
        }
      }

      textarea {
        background: $beige-100;
        border: 1px solid $beige-200;
        border-radius: 10px;
        padding: 20px;
        width: 1030px;
        height: 152px;
      }

      button {
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        max-width: 235px;
        width: 100%;
        height: 58px;
        gap: 30px;

        &[type="submit"] {
          background: $green-400;
          color: $white;
        }

        &[type="reset"] {
          background: $green-100;
          color: $green-400;
        }
      }
    }
  }
}