@use "../vars" as *;
@use "../mixin" as *;
@use "../templates";

.section-form {
  @media screen and (max-width: 425px) {
    font-size: 1.125rem; //18px
  }

  @media screen and (max-width: 375px) {
    font-size: 1rem;
  }

  .container {
    @extend %container;

    .section-form__title {
      @include offset;
      margin-top: 135px;
      position: relative;
      top: 5px;

      @media screen and (max-width: 1024px) {
        top: -18px;
      }

      @media screen and (max-width: 500px) {
        font-size: 3.5rem; //56px
      }

      @media screen and (max-width: 425px) {
        font-size: 2.5rem; //40px
      }

      @media screen and (max-width: 360px) {
        margin-top: -71px;
        font-size: 2.125rem; //34px
      }
    }

    .section-form__description {
      @include offset;
      margin: 30px 0 100px 0;
      text-align: center;
      color: $gray-300;
      position: relative;

      @media screen and (max-width: 1920px) {
        top: 5px;
      }

      @media screen and (max-width: 1024px) {
        left: 0px;
        top: -18px;
      }

      @media screen and (max-width: 425px) {
        font-size: 1.125rem; //18px
      }

      @media screen and (max-width: 375px) {
        font-size: 1rem;
        left: 6px;
        top: -28px;
        width: 101%;
      }
    }

    .section-form__form {
      @include offset;
      top: 4px;
      border-radius: 50px;
      padding: 70px;
      max-width: 1170px;
      width: 100%;
      height: 986px;
      background: $white;

      display: grid;
      grid-template-areas:
        "name direction"
        "email phone"
        "date-from date-before"
        "comment comment"
        "age age"
        "agreement agreement"
        "buttons buttons";
      grid-template-rows: repeat(7, 1fr);
      gap: 33px 30px;

      @media screen and (max-width: 1024px) {
        padding: 60px;
        max-width: 918px;
        width: 100%;
        height: 966px;
        left: 39px;
        top: -19px;
        gap: 33px 20px;
      }

      @media screen and (max-width: 986px) {
        left: 0px;
      }

      @media screen and (max-width: 768px) {
        grid-template-areas:
          "name"
          "direction"
          "email"
          "phone"
          "date-from"
          "date-before"
          "comment"
          "age"
          "agreement"
          "buttons";
        grid-template-columns: 1fr;
        gap: 30px;
        height: 1360px;
      }

      @media screen and (max-width: 450px) {
        padding: 40px 30px;
        gap: 25px;
      }

      @media screen and (max-width: 360px) {
        @include offset;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 20px 20px 40px;
        max-width: 318px;
        width: 100%;
        height: 1110px;
        top: -87px;
      }

      .name {
        grid-area: name;
      }

      .direction {
        grid-area: direction;

        @media screen and (max-width: 375px) {
          position: relative;
          top: 5px;
        }

        select {
          appearance: none; // стандартные стили обнуляются
          background-image: url("./../../../assets/icons/ic-dropdown.svg");
          background-repeat: no-repeat;
          background-position: center right 20px;

          .placeholder-option {
            padding: 15px;

            &::placeholder {
              color: $gray-300;
            }
          }
        }
      }


      .email {
        grid-area: email;

        @media screen and (max-width: 375px) {
          position: relative;
          top: 13px;
        }
      }

      .phone {
        grid-area: phone;

        @media screen and (max-width: 375px) {
          position: relative;
          top: 18px;
        }
      }

      .date-from {
        grid-area: date-from;

        @media screen and (max-width: 375px) {
          position: relative;
          top: 24px;
        }
      }

      .date-before {
        grid-area: date-before;

        @media screen and (max-width: 375px) {
          position: relative;
          top: 29px;
        }
      }

      .comment {
        grid-area: comment;

        @media screen and (max-width: 1920px) {
          position: relative;
          bottom: 1px;
        }

        @media screen and (max-width: 375px) {
          top: 34px;
        }

        textarea {
          background: $beige-100;
          border: 1px solid $beige-200;
          border-radius: 10px;
          padding: 20px;
          max-width: 1030px;
          width: 100%;
          height: 152px;
          margin-top: 8px;

          &:hover {
            background: $beige-200;
            cursor: pointer;
          }

          &:focus {
            color: $black;
            outline: none;
            border: 1px solid $gray-300;
          }

          @media screen and (max-width: 1024px) {
            max-width: 798px;
          }

          @media screen and (max-width: 425px) {
            max-width: 278px;
          }

          @media screen and (max-width: 375px) {
            padding: 10px;
            max-width: 278px;
            width: 100%;
            height: 132px;
          }
        }
      }

      .age {
        grid-area: age;

        @media screen and (max-width: 1920px) {
          position: relative;
          bottom: 9px;
        }

        @media screen and (max-width: 375px) {
          position: relative;
          top: 34px;
        }

        input[type="radio"] {
          margin: 9px 11px 0 0;
          accent-color: $black;
        }

        // позиционирование радиокнопок да-нет
        .age__radio-yes,
        .age__radio-no {
          position: relative;
          bottom: 6px;
        }

        .age__radio-yes {
          right: 5px;

          @media screen and (max-width: 375px) {
            bottom: 5px;
          }
        }

        .age__radio-no {
          left: 17px;

          @media screen and (max-width: 1024px) {
            left: 16px;
          }

          @media screen and (max-width: 375px) {
            bottom: 5px;
          }
        }

        #age_no {
          position: relative;
          left: 22px;

          @media screen and (max-width: 1024px) {
            left: 21px;
          }
        }
      }

      .agreement {
        grid-area: agreement;

        font-size: 1.0625rem; // 17px;
        line-height: 1.42;
        letter-spacing: -0.01em;
        color: $gray-300;

        @media screen and (max-width: 1920px) {
          position: relative;
          bottom: 56px;
          right: 3px;
        }

        @media screen and (max-width: 375px) {
          position: relative;
          bottom: 5px;
          display: flex;
          align-items: baseline
        }


        input[type="checkbox"] {
          margin: 33px 19px 0 0;
          position: relative;
          top: 7px;
          left: 3px;
          accent-color: $white;


          @media screen and (max-width: 1024px) {
            margin: 33px 11px 0 0;
          }

          @media screen and (max-width: 375px) {
            margin: 30px 10px 0 0;
            width: 15%;
          }
        }

        span {
          @media screen and (max-width: 375px) {
            @include span-offset;
            letter-spacing: -0.025em;
          }
        }

        .license-agreement {
          color: $black;
        }

        .license-agreement:hover {
          @include underscore-btn;
        }

        .license-agreement:active {
          @include underscore-btn;
          color: $green-400;
        }
      }

      .buttons {
        grid-area: buttons;

        display: flex;
        gap: 30px;
        position: relative;
        bottom: 55px;

        @media screen and (max-width: 375px) {
          gap: 10px;
          position: relative;
          top: 2px;
        }
      }
    }

    // стили элементов формы
    input,
    select {
      margin-top: 8px;
      border: 1px solid $beige-200;
      border-radius: 10px;
      padding: 20px;
      max-width: 500px;
      width: 100%;
      height: 68px;
      color: $gray-300;
      background: $beige-100;

      &:hover {
        background: $beige-200;
        cursor: pointer;
      }

      &:focus,
      &:valid {
        color: $black;
      }

      &:focus {
        outline: none;
        border: 1px solid $gray-300;
      }

      @media screen and (max-width: 768px) {
        max-width: 600px;
      }

      @media screen and (max-width: 500px) {
        max-width: 332px;
        height: 58px;
        padding: 15px;
      }

      @media screen and (max-width: 425px) {
        padding: 10px;
        max-width: 322px;
        height: 43px;
      }

      @media screen and (max-width: 401px) {
        max-width: 278px;
      }

      // стилизация радиокнопок и чекбоксов

      &[type="radio"],
      &[type="checkbox"] {
        width: 26px;
        height: 26px;

        @media screen and (max-width: 375px) {
          width: 20px;
          height: 20px;
        }
      }

      &[type="date"] {
        text-transform: uppercase;
        letter-spacing: -0.03em;
      }
    }
  }
}