@use "../vars" as *;
@use "../mixin" as *;
@use "../templates";

.section-categories {
  .container {
    @extend %container;
    position: relative;
    left: 7px;

    @media screen and (max-width: 360px) {
      width: 95%;
    }

    .section-categories__title {
      margin-top: 135px;
      color: $black;
      position: relative;
      left: 1px;
      bottom: 1px;

      @media screen and (max-width: 1024px) {
        left: 0px;
        bottom: 0px;
      }

      @media screen and (max-width: 520px) {
        font-size: 3rem; // 48px
      }

      @media screen and (max-width: 432px) {
        font-size: 2.5rem; // 40px
      }

      @media screen and (max-width: 380px) {
        font-size: 2.375rem; // 38px
      }

      @media screen and (max-width: 363px) {
        font-size: 2.125rem; // 34px
        top: 1px;
        margin-top: 75px;
      }

      @media screen and (max-width: 320px) {
        width: 97%;
      }
    }

    .tabs {
      margin: 0 0 50px 0;

      .nav-tabs {
        display: flex;
        justify-content: center;
        margin-top: 35px;

        @media screen and (max-width: 320px) {
          width: 96%;
        }

        .nav-tabs__items {
          display: flex;
          gap: 30px;
          position: relative;
          left: 8px;

          font-weight: 700;
          font-size: 1.4375rem; // 23px;
          line-height: 1.22;

          @media screen and (max-width: 762px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
          }

          @media screen and (max-width: 432px) {
            gap: 15px;
          }

          @media screen and (max-width: 425px) {
            font-size: 1.125rem;

            gap: 10px;
          }

          @media screen and (max-width: 375px) {
            font-size: 1rem; // 16px;
          }

          @media screen and (max-width: 360px) {
            bottom: 4px;
            left: 10px;

            font-size: 1rem; // 16px;
            line-height: 1.42;
          }

          .nav-tabs__item {
            font-weight: 700;
            font-size: 1.4375rem; // 23px;
            line-height: 1.22;
            color: $black;

            @media screen and (max-width: 360px) {
              font-size: 1rem; // 16px;
              line-height: 1.42;
            }

            &.nav-tabs__item_active {
              color: $orange-200;
              text-decoration: underline; //обычное подчёркивание
              text-decoration-thickness: 2px; // задаёт толщину линии
              text-underline-offset: 9px; // смещаем подчёркивание вниз 

              @media screen and (max-width: 1024px) {
                text-underline-offset: 10px;
              }

              @media screen and (max-width: 360px) {
                text-underline-offset: 3px;
              }
            }

            .nav-tabs__link {
              position: relative;
              right: 8px;

              @media screen and (max-width: 1024px) {
                right: 9px;
              }

              @media screen and (max-width: 360px) {
                right: 10px;
              }

              &[href="#tab_02"] {
                @media screen and (max-width: 360px) {
                  right: 10px;
                }
              }

              &[href="#tab_03"] {
                @media screen and (max-width: 1024px) {
                  right: 8px;
                }

                @media screen and (max-width: 360px) {
                  right: 9px;
                }
              }

              &[href="#tab_04"] {
                @media screen and (max-width: 1920px) {
                  right: 7px;
                }

                @media screen and (max-width: 1024px) {
                  right: 7px;
                }

                @media screen and (max-width: 360px) {
                  right: 10px;
                }
              }

              &[href="#tab_05"] {
                @media screen and (max-width: 1920px) {
                  right: 7px;
                }

                @media screen and (max-width: 1024px) {
                  right: 7px;
                }

                @media screen and (max-width: 360px) {
                  right: 10px;
                }
              }
            }
          }
        }
      }

      .tabs__content {
        margin-top: 70px;
        padding: 0;

        .tabs__block {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;

          position: relative;
          top: 5px;

          @media screen and (max-width: 1024px) {
            top: 7px;
          }

          @media screen and (max-width: 1004px) {
            flex-direction: column;
            align-content: center;
          }

          @media screen and (max-width: 520px) {
            flex-wrap: nowrap;
          }

          @media screen and (max-width: 360px) {
            width: 107%;
            position: relative;
            left: -7px;
          }

          @media screen and (max-width: 320px) {
            width: 97%;
            left: 0;
          }

          .tabs__block:target {
            display: block;
          }

          .card {
            margin-top: 30px;
            padding: 50px;
            border-radius: 50px;
            overflow: hidden;
            width: 100%;
            max-width: 370px;
            height: 531px;
            color: $white;
            cursor: pointer;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 1156px) {
              max-width: 450px;
            }

            @media screen and (max-width: 1024px) {
              max-width: 450px;
              position: relative;
              left: 11px;
            }

            @media screen and (max-width: 375px) {
              border-radius: 20px;
              max-width: 318px;
              height: 318px;
              left: 7px;
              bottom: 63px;
              padding: 25px;
            }

            // фон с картинкой и анимация
            &::before {
              @include background-with-picture-and-animation;
            }

            &:hover::before {
              transform: scale(1.2);
            }

            // градиент
            &::after {
              @include gradient;
              background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
            }

            .inner,
            .card__link {
              position: relative;
              z-index: 15;
            }

            .inner {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .subtitle {
                color: $white;
                position: relative;
                left: 1px;
                top: 1px;
              }

              .card__cost {
                margin-top: 16px;

                font-weight: 400;
                font-size: 1.0625rem; // 17px;
                line-height: 1.42;
                letter-spacing: -0.01em;

                @media screen and (max-width: 375px) {
                  font-size: 1rem; // 16px;

                  position: relative;
                  bottom: 2px;
                }
              }
            }

            .card__link {
              display: flex;
              flex-wrap: wrap;
              align-content: center;
              gap: 15px;

              &:hover {
                border-radius: 50px;
                padding: 7px 20px;
                width: 199px;
                height: 42px;
                background: $green-400;
              }

              @media screen and (max-width: 375px) {
                pointer-events: none; //отключить реакцию на наведение
              }

              .card__link-label {
                font-weight: 700;
                font-size: 1.4375rem; // 23px;
                line-height: 1.22;

                @media screen and (max-width: 375px) {
                  font-size: 1rem; // 16px;
                  line-height: 1.42;
                }
              }


              .card__link-icon {
                display: flex;
                flex-wrap: wrap;
                align-content: center;

                .icon {
                  width: 24px;
                  height: 26px;

                  @media screen and (max-width: 375px) {
                    width: 22px;
                    height: 16px;

                    position: relative;
                    left: 2px;
                    bottom: 3px;
                  }
                }
              }
            }
          }
        }
      }

      #card-one {
        position: relative;
        right: 15px;

        &::before {
          background-image: url('../../../assets/imgs/card-tour-photo-1.png');
        }

        @media screen and (max-width: 1156px) {
          left: 0;
        }

        @media screen and (max-width: 1024px) {
          left: 4px;
          bottom: 1px;
        }

        @media screen and (max-width: 360px) {
          left: -2px;
          bottom: 62px;
        }
      }

      #card-two {
        &::before {
          background-image: url('../../../assets/imgs/card-tour-photo-2.png');
        }

        @media screen and (max-width: 1156px) {
          left: 0;
        }

        @media screen and (max-width: 1024px) {
          left: -3px;
          bottom: 1px;
        }

        @media screen and (max-width: 360px) {
          left: -2px;
          bottom: 74px;
        }
      }

      #card-three {
        position: relative;
        left: 15px;

        &::before {
          background-image: url('../../../assets/imgs/card-tour-photo-3.png');
        }

        @media screen and (max-width: 1156px) {
          left: 0;
        }

        @media screen and (max-width: 1024px) {
          left: 4px;
          bottom: 13px;
        }

        @media screen and (max-width: 360px) {
          left: -2px;
          bottom: 86px;
        }
      }

      #card-four {
        position: relative;
        right: 15px;

        &::before {
          background-image: url('../../../assets/imgs/card-tour-photo-4.png');
        }

        @media screen and (max-width: 1156px) {
          left: 0;
        }

        @media screen and (max-width: 1024px) {
          left: -3px;
          bottom: 13px;
        }

        @media screen and (max-width: 360px) {
          left: -2px;
          bottom: 98px;
        }
      }

      #card-five {
        &::before {
          background-image: url('../../../assets/imgs/card-tour-photo-5.png');
        }

        @media screen and (max-width: 1156px) {
          left: 0;
        }

        @media screen and (max-width: 1024px) {
          left: 4px;
          bottom: 25px;
        }

        @media screen and (max-width: 360px) {
          left: -2px;
          bottom: 110px;
        }
      }

      #card-six {
        position: relative;
        left: 15px;

        &::before {
          background-image: url('../../../assets/imgs/card-tour-photo-6.png');
        }

        @media screen and (max-width: 1156px) {
          left: 0;
        }

        @media screen and (max-width: 1024px) {
          left: -3px;
          bottom: 25px;
        }

        @media screen and (max-width: 360px) {
          left: -2px;
          bottom: 122px;
        }
      }
    }
  }
}