@use "../vars" as *;
@use "../mixin" as *;
@use "../templates";

.section-stories {

  .container {
    @extend %container;

    .section-stories__title {
      margin-top: 135px;
      @include offset;
      top: 2px;
    }

    .section-stories__description {
      @include stylization-description;
      color: $gray-300;
      @include offset;
      top: 3px;
    }

    .section-stories__holder {
      @include offset;
      border-radius: 50px;
      overflow: hidden;

      max-width: 1170px;
      width: 100%;
      height: 567px;

      color: $white;
      cursor: pointer;
      padding: 60px;
      margin-top: 50px;

      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      // фон с картинкой и анимация
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        transition: transform 300ms ease;
        transform: scale(1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: inherit;
      }

      &:hover::before {
        transform: scale(1.2);
      }

      // градиент
      &::after {
        content: '';
        border-radius: inherit;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
      }

      .section-stories__wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        z-index: 15;

        .section-stories__subtitle {
          color: $white;
        }

        .section-stories__inner {
          margin-top: 37px;

          .section-stories__text {}

          .section-stories__list {
            list-style-type: circle;
            margin-top: 30px;

            .section-stories__item {}
          }
        }

        .section-stories__more {
          display: flex;
          align-content: center;
          gap: 15px;
          margin-top: 115px;

          &:hover {
            border-radius: 50px;
            padding: 7px 20px;
            width: 199px;
            height: 42px;
            background: $green-400;
          }

          .section-stories__more-label {
            font-weight: 700;
            font-size: 1.4375rem; // 23px;
            line-height: 1.22;

            @media screen and (max-width: 375px) {
              font-size: 1rem; // 16px;
              line-height: 1.42;
            }
          }

          .section-stories__more-icon {
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            .icon {
              width: 24px;
              height: 26px;

              @media screen and (max-width: 375px) {
                width: 22px;
                height: 16px;

                position: relative;
                left: 2px;
                bottom: 3px;
              }
            }
          }
        }

        .section-stories__socials {
          .section-stories__items {
            .section-stories__item {}
          }
        }
      }
    }

    #tent {
      &::before {
        background-image: url('../../../assets/imgs/story-photo-1.png');
      }
    }

    #campfire {
      &::before {
        background-image: url('../../../assets/imgs/story-photo-2.png');
      }
    }

    #beach {
      &::before {
        background-image: url('../../../assets/imgs/story-photo-3.png');
      }
    }
  }
}