@use "../vars" as *;
@use "../templates";

.section-reviews {
  outline: blue solid 3px;

  .container {
    @extend %container;
    position: relative;
    left: 7px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 360px) {
      flex-direction: row;
    }

    .section-reviews__title {
      margin-top: 135px;
      position: relative;
      top: 3px;
      left: 1px;
      width: 529px;

      @media screen and (max-width: 1024px) {
        top: -19px;
      }

      @media screen and (max-width: 360px) {
        margin-top: 7px;
        left: -2px;
      }
    }

    .section-reviews__description {
      text-align: center;
      color: $gray-300;
      margin: 30px 0 100px 0;
      position: relative;
      top: 3px;

      @media screen and (max-width: 1024px) {
        top: -19px;
      }

      @media screen and (max-width: 360px) {
        margin: 20px 0 50px 0;
        font-size: 1rem;
      }
    }

    .section-reviews__list {
      display: flex;
      gap: 30px;

      @media screen and (max-width: 1024px) {
        position: relative;
        top: -20px;
        gap: 18px;
      }

      @media screen and (max-width: 360px) {
        flex-direction: column;
      }

      .section-reviews__item {
        .review-card {
          border-radius: 50px;
          padding: 40px;
          max-width: 570px;
          width: 100%;
          height: 673px;
          background: $beige-200;

          display: flex;
          align-content: space-between;
          flex-wrap: wrap;

          @media screen and (max-width: 1024px) {
            border-radius: 50px;
            padding: 40px;
            max-width: 450px;
            height: 841px;
          }

          @media screen and (max-width: 360px) {
            border-radius: 20px;
            padding: 20px;
            width: 318px;
            max-height: 592px;
            height: 100%;
          }

          .review-card__quote {
            .review-card__text {
              font-weight: 700;
              font-size: 1.4375rem; // 23px;
              line-height: 1.22;
              color: $black;

              position: relative;
              top: 3px;
              left: 1px;

              @media screen and (max-width: 1024px) {
                top: -1px;
              }

              @media screen and (max-width: 360px) {
                font-size: 1rem; // 16px
                line-height: 1.44;

                position: relative;
                left: -2px;
                width: 99%;
              }
            }
          }

          .review-card__footer {
            padding: 70px 0px 0px;
            max-width: 490px;
            width: 100%;
            height: 145px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 1024px) {
              max-width: 370px;
            }

            @media screen and (max-width: 360px) {
              padding: 40px 0px 0px;
              max-width: 278px;
              height: 115px;
            }

            .review-card__photo {
              border-radius: 100px;
              width: 75px;
              height: 75px;

              @media screen and (max-width: 360px) {
                position: relative;
                left: -2px;
              }
            }

            .review-card__info {
              position: relative;
              top: 3px;
              left: 1px;

              @media screen and (max-width: 1024px) {
                top: 0;
                left: 1px;
              }

              @media screen and (max-width: 360px) {
                top: 9px;
                left: -2px;
              }

              .review-card__name {
                font-weight: 500;
                font-size: 2.1875rem; //35px;
                line-height: 1.22;
                color: $black;

                @media screen and (max-width: 360px) {
                  font-weight: 700;
                  font-size: 1.4375rem; //23px;
                  line-height: 1.20;
                  letter-spacing: 0.04em;
                }
              }

              .review-card__tour {
                font-size: 1.0625rem; //17px;
                letter-spacing: -0.01em;
                color: $gray-300;
                margin-top: 8px;

                @media screen and (max-width: 360px) {
                  font-size: 1rem; //16px;
                  letter-spacing: -0.01em;
                }
              }
            }
          }
        }
      }
    }
  }
}