@use "../vars" as *;
@use "../templates";

.section-reviews {
  .container {
    @extend %container;
    position: relative;
    left: 7px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 360px) {
      flex-direction: row;
    }

    .section-reviews__title {
      margin-top: 135px;
      position: relative;
      top: 3px;
      left: 1px;
      max-width: 529px;
      width: 100%;

      @media screen and (max-width: 1024px) {
        top: -19px;
      }

      @media screen and (max-width: 570px) {
        font-size: 3.25rem; //50px
      }

      @media screen and (max-width: 512px) {
        font-size: 3rem; //48px
      }

      @media screen and (max-width: 481px) {
        font-size: 2.875rem; //46px
      }

      @media screen and (max-width: 460px) {
        font-size: 2.75rem; //44px
      }

      @media screen and (max-width: 441px) {
        font-size: 2.625rem; //42px
      }

      @media screen and (max-width: 425px) {
        font-size: 2.5rem; //40px
      }

      @media screen and (max-width: 418px) {
        font-size: 2.375rem; //38px
      }

      @media screen and (max-width: 400px) {
        font-size: 2.25rem; //36px
      }

      @media screen and (max-width: 375px) {
        font-size: 2.125rem; //34px
      }

      @media screen and (max-width: 360px) {
        margin-top: 7px;
      }

      @media screen and (max-width: 354px) {
        font-size: 2rem; //32px
        max-width: 297px;
      }

      @media screen and (max-width: 342px) {
        font-size: 1.9375rem; //31px
      }

      @media screen and (max-width: 320px) {
        max-width: 283px;
        font-size: 1.875rem; //30px
      }
    }

    .section-reviews__description {
      text-align: center;
      color: $gray-300;
      margin: 30px 0 100px 0;
      position: relative;
      top: 3px;

      @media screen and (max-width: 1024px) {
        top: -19px;
      }

      @media screen and (max-width: 375px) {
        margin: 20px 0 50px 0;
        font-size: 1rem;
        width: 101%;
      }

      @media screen and (max-width: 354px) {
        max-width: 296px;
        width: 100%;
      }

      @media screen and (max-width: 320px) {
        max-width: 281px;
      }
    }

    .section-reviews__list {
      display: flex;
      gap: 30px;

      @media screen and (max-width: 1024px) {
        position: relative;
        top: -20px;
        gap: 18px;
      }

      @media screen and (max-width: 736px) {
        flex-direction: column;
      }

      @media screen and (max-width: 360px) {
        flex-direction: column;
      }

      .section-reviews__item {
        .review-card {
          border-radius: 50px;
          padding: 40px;
          max-width: 570px;
          width: 100%;
          max-height: 673px;
          height: 100%;
          background: $beige-200;

          display: flex;
          align-content: space-between;
          flex-wrap: wrap;

          @media screen and (max-width: 1164px) {
            max-height: 100%;
          }

          @media screen and (max-width: 1024px) {
            border-radius: 50px;
            padding: 40px;
            max-width: 450px;
            height: 841px;
          }

          @media screen and (max-width: 360px) {
            border-radius: 20px;
            padding: 20px;
            max-width: 318px;
            max-height: 592px;
            height: 100%;
          }

          @media screen and (max-width: 354px) {
            max-width: 297px;
            width: 100%;
            max-height: 700px;
            height: 100%;
          }

          @media screen and (max-width: 335px) {
            max-width: 295px;
          }

          @media screen and (max-width: 320px) {
            max-width: 281px;
          }

          .review-card__quote {
            .review-card__text {
              font-weight: 700;
              font-size: 1.4375rem; // 23px;
              line-height: 1.22;
              color: $black;

              position: relative;
              top: 3px;
              left: 1px;

              @media screen and (max-width: 1024px) {
                top: 0px;
              }

              @media screen and (max-width: 912px) {
                font-size: 1.3125rem; //21px
              }

              @media screen and (max-width: 815px) {
                font-size: 1.25rem; // 20px
              }

              @media screen and (max-width: 768px) {
                font-size: 1.1875rem; // 19px
              }

              @media screen and (max-width: 736px) {
                font-size: 1.4375rem; // 23px;
              }

              @media screen and (max-width: 471px) {
                font-size: 1.25rem; // 20px
              }

              @media screen and (max-width: 425px) {
                font-size: 1.25rem; // 20px
              }

              @media screen and (max-width: 375px) {
                font-size: 1.125rem;
              }

              @media screen and (max-width: 360px) {
                font-size: 1rem; // 16px
                line-height: 1.44;

                width: 99%;
              }
            }
          }

          .review-card__footer {
            padding: 70px 0px 0px;
            max-width: 490px;
            width: 100%;
            height: 145px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 1024px) {
              max-width: 370px;
            }

            @media screen and (max-width: 360px) {
              padding: 40px 0px 0px;
              max-width: 278px;
              height: 115px;
            }

            .review-card__photo {
              border-radius: 100px;
              width: 75px;
              height: 75px;
              position: relative;

              @media screen and (max-width: 746px) {
                width: 65px;
                height: 65px;
              }

              @media screen and (max-width: 736px) {
                width: 75px;
                height: 75px;
              }
            }

            .review-card__info {
              position: relative;
              top: 3px;
              left: 1px;

              @media screen and (max-width: 1024px) {
                top: 0;
                left: 1px;
              }

              @media screen and (max-width: 360px) {
                top: 9px;
              }

              .review-card__name {
                font-weight: 500;
                font-size: 2.1875rem; //35px;
                line-height: 1.22;
                color: $black;

                @media screen and (max-width: 768px) {
                  font-size: 2rem; //32px
                }

                @media screen and (max-width: 736px) {
                  font-size: 2.1875rem;
                }

                @media screen and (max-width: 375px) {
                  font-size: 1.75rem; //28px
                }

                @media screen and (max-width: 360px) {
                  font-weight: 700;
                  font-size: 1.4375rem; //23px;
                  line-height: 1.20;
                  letter-spacing: 0.04em;

                  position: relative;
                  left: -1px;
                  top: -1px;
                }
              }

              .review-card__tour {
                font-size: 1.0625rem; //17px;
                letter-spacing: -0.01em;
                color: $gray-300;
                margin-top: 8px;

                @media screen and (max-width: 768px) {
                  font-size: 1rem; //16px;
                }

                @media screen and (max-width: 360px) {
                  letter-spacing: -0.01em;
                }
              }
            }

            #woman {
              @media screen and (max-width: 1920px) {
                top: 3px;
              }

              @media screen and (max-width: 1024px) {
                left: 0px;
                top: 0px;
              }

              @media screen and (max-width: 375px) {
                left: 1px;
              }
            }

            #man {
              @media screen and (max-width: 1920px) {
                top: 2px;
              }

              @media screen and (max-width: 1024px) {
                top: -1px;
              }

              @media screen and (max-width: 375px) {
                left: 1px;
                top: -1px;
              }
            }
          }
        }
      }
    }
  }
}