@use "../vars" as *;
@use "../mixin" as *;
@use "../templates";

.section-stories {
  .container {
    @extend %container;

    .section-stories__title {
      margin-top: 135px;
      @include offset;
      top: 2px;

      @media screen and (max-width: 1024px) {
        margin-top: 375px;
      }

      @media screen and (max-width: 540px) {
        margin-top: 340px;
      }

      @media screen and (max-width: 520px) {
        font-size: 3rem; //48px
        margin-top: 275px;
      }

      @media screen and (max-width: 425px) {
        margin-top: 135px;
        font-size: 2.5rem; //40px
      }

      @media screen and (max-width: 375px) {
        font-size: 2.125rem; //34px
      }

      @media screen and (max-width: 360px) {
        margin-top: 72px;
      }

      @media screen and (max-width: 320px) {
        font-size: 1.875rem; //30px
      }
    }

    .section-stories__description {
      @include stylization-description;
      color: $gray-300;
      @include offset;
      top: 1px;

      @media screen and (max-width: 425px) {
        font-size: 1.125rem;
      }

      @media screen and (max-width: 375px) {
        margin: 20px 0 50px 0;
        font-size: 1rem;
      }
    }

    .section-stories__holder {
      @include offset;
      top: 2px;
      border-radius: 50px;
      overflow: hidden;

      max-width: 1170px;
      width: 100%;
      height: 567px;

      color: $white;
      cursor: pointer;
      padding: 60px;
      margin-top: 50px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: 1024px) {
        max-width: 918px;
        left: 39px;
        top: 0;
      }

      @media screen and (max-width: 1023px) {
        left: clamp(7px, 1.5vw, 39px);
      }

      @media screen and (max-width: 360px) {
        border-radius: 20px;
        max-width: 318px;
        height: 455px;
        @include offset;
        padding: 30px 25px 0 30px;
        margin-top: 20px;
        top: 2px;
      }

      // фон с картинкой и анимация
      &::before {
        @include background-with-picture-and-animation;
      }

      &:hover::before {
        transform: scale(1.2);
      }

      // градиент
      &::after {
        @include gradient;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
      }

      .section-stories__wrapper {
        display: flex;
        flex-direction: column;
        z-index: 15;

        .section-stories__subtitle {
          color: $white;

          @media screen and (max-width: 360px) {
            width: 160px;
            top: 1px;
            left: 1px;
          }
        }

        .section-stories__inner {
          margin-top: 37px;
          max-width: 560px;

          .section-stories__text {
            @media screen and (max-width: 1024px) {
              position: relative;
              top: 0;
            }

            @media screen and (max-width: 543px) {
              font-size: 1.125rem; //18px
            }

            @media screen and (max-width: 512px) {
              font-size: 1rem;
              top: -15px;
            }
          }

          .section-stories__list {
            list-style-type: disc;
            margin-top: 30px;
            position: relative;
            left: 30px;
            bottom: 3px;

            @media screen and (max-width: 543px) {
              font-size: 1.125rem; //18px
            }

            @media screen and (max-width: 512px) {
              font-size: 1rem;
              top: -21px;
              left: 24px;
            }
          }
        }

        .section-stories__more {
          display: flex;
          gap: 15px;

          &:hover {
            @include more-btn;
            background: $green-400;
          }

          &:active {
            background: $orange-200;
          }

          .section-stories__more-label {
            font-weight: 700;
            font-size: 1.4375rem; // 23px;
            line-height: 1.22;

            @media screen and (max-width: 375px) {
              font-size: 1rem; // 16px;
              line-height: 1.42;
            }
          }

          .section-stories__more-icon {
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            .icon {
              width: 24px;
              height: 26px;

              @media screen and (max-width: 375px) {
                width: 22px;
                height: 16px;

                position: relative;
                left: 2px;
                bottom: 1px;
              }
            }
          }
        }

        .section-stories__socials {
          display: flex;
          justify-content: space-between;

          @media screen and (max-width: 1024px) {
            position: relative;
            top: -1px;
          }

          @media screen and (max-width: 360px) {
            top: -31px;
          }

          .section-stories__items {
            display: flex;
            align-items: flex-end;
            gap: 35px;
            position: relative;
            right: 1px;
            top: 1px;

            .section-stories__item {
              &:hover {
                @include underscore-btn;
              }

              &:active {
                @include underscore-btn;
                color: $orange-200;
              }
            }

            .section-stories__item:nth-child(3) {
              position: relative;
              left: 1px;
            }

            @media screen and (max-width: 689px) {
              display: none;
            }
          }
        }
      }
    }

    #tent {
      &::before {
        background-image: url('../../../assets/imgs/story-photo-1.png');
      }
    }

    #campfire {
      &::before {
        background-image: url('../../../assets/imgs/story-photo-2.png');
      }
    }

    #beach {
      &::before {
        background-image: url('../../../assets/imgs/story-photo-3.png');
      }
    }
  }
}