@use "../vars" as *;
@use "../templates";

.section-form {
  @media screen and (max-width: 375px) {
    font-size: 1rem;
  }

  .container {
    @extend %container;

    .section-form__title {
      margin-top: 135px;
      position: relative;

      @media screen and (max-width: 1920px) {
        left: 1px;
        top: 5px;
      }

      @media screen and (max-width: 1024px) {
        top: -18px;
      }

      @media screen and (max-width: 375px) {
        margin-top: -71px;
        left: -2px;
      }
    }

    .section-form__text {
      margin: 30px 0 100px 0;
      text-align: center;
      color: $grey-300;
      position: relative;

      @media screen and (max-width: 1920px) {
        left: 7px;
        top: 5px;
      }

      @media screen and (max-width: 1024px) {
        left: 0px;
        top: -18px;
      }

      @media screen and (max-width: 375px) {
        font-size: 1rem;
        left: -2px;
        top: -28px;
      }
    }

    .section-form__form {
      border-radius: 50px;
      padding: 70px;
      max-width: 1170px;
      width: 100%;
      height: 986px;
      background: $white;

      display: grid;
      grid-template-areas:
        "name direction"
        "email phone"
        "date-from date-before"
        "comment comment"
        "age age"
        "agreement agreement"
        "buttons buttons";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: 33px 30px;

      @media screen and (max-width: 1920px) {
        position: relative;
        top: 4px;
      }

      @media screen and (max-width: 1024px) {
        padding: 60px;
        max-width: 918px;
        width: 100%;
        height: 966px;
        left: 30px;
        top: -19px;
        gap: 33px 20px;
      }

      @media screen and (max-width: 375px) {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 20px 20px 40px;
        max-width: 318px;
        width: 100%;
        height: 1110px;
        left: -2px;
        top: -87px;
      }

      .name {
        grid-area: name;
      }

      .direction {
        grid-area: direction;

        @media screen and (max-width: 375px) {
          position: relative;
          bottom: 3px;
        }

        option {
          color: $black;
        }
      }

      .email {
        grid-area: email;

        @media screen and (max-width: 375px) {
          position: relative;
          bottom: 3px;
        }
      }

      .phone {
        grid-area: phone;

        @media screen and (max-width: 375px) {
          position: relative;
          bottom: 6px;
        }
      }

      .date-from {
        grid-area: date-from;

        @media screen and (max-width: 375px) {
          position: relative;
          bottom: 8px;
        }
      }

      .date-before {
        grid-area: date-before;

        @media screen and (max-width: 375px) {
          position: relative;
          bottom: 11px;
        }
      }

      .comment {
        grid-area: comment;

        @media screen and (max-width: 1920px) {
          position: relative;
          bottom: 1px;
        }

        @media screen and (max-width: 375px) {
          bottom: 14px;
        }

        textarea {
          background: $beige-100;
          border: 1px solid $beige-200;
          border-radius: 10px;
          padding: 20px;
          max-width: 1030px;
          width: 100%;
          height: 152px;
          margin-top: 8px;

          @media screen and (max-width: 1024px) {
            max-width: 798px;
          }

          @media screen and (max-width: 375px) {
            padding: 10px;
            max-width: 278px;
            width: 100%;
            height: 132px;
          }
        }
      }

      .age {
        grid-area: age;

        @media screen and (max-width: 1920px) {
          position: relative;
          bottom: 9px;
        }

        @media screen and (max-width: 375px) {
          position: relative;
          bottom: 23px;
        }

        input[type="radio"] {
          margin: 9px 11px 0 0;
        }

        // позиционирование радиокнопок да-нет
        .radio-label__yes,
        .radio-label__no {
          position: relative;
          bottom: 6px;
        }

        .radio-label__yes {
          right: 5px;
        }

        .radio-label__no {
          left: 17px;

          @media screen and (max-width: 1024px) {
            left: 16px;
          }
        }

        #age_no {
          position: relative;
          left: 22px;

          @media screen and (max-width: 1024px) {
            left: 21px;
          }
        }
      }

      .agreement {
        grid-area: agreement;

        font-size: 1.0625rem; // 17px;
        line-height: 1.42;
        letter-spacing: -0.01em;
        color: $grey-300;

        @media screen and (max-width: 1920px) {
          position: relative;
          bottom: 56px;
          right: 3px;
        }


        input[type="checkbox"] {
          margin: 33px 19px 0 0;
          position: relative;
          top: 7px;
          left: 3px;

          @media screen and (max-width: 1024px) {
            margin: 33px 11px 0 0;
          }
        }

        .license-agreement {
          color: $black;
        }
      }

      .buttons {
        grid-area: buttons;

        display: flex;
        gap: 30px;
        position: relative;
        bottom: 55px;

        @media screen and (max-width: 375px) {
          gap: 10px;
        }

        button {
          border: none;
          border-radius: 10px;
          padding: 15px 30px;
          max-width: 235px;
          width: 100%;
          height: 58px;

          @media screen and (max-width: 375px) {
            max-width: 134px;
            height: 47px;
          }

          &[type="submit"] {
            background: $green-400;
            color: $white;
          }

          &[type="reset"] {
            background: $green-100;
            color: $green-400;
          }
        }
      }

      // стили элементов формы
      input,
      select {
        margin-top: 8px;
        border: 1px solid $beige-200;
        border-radius: 10px;
        padding: 20px;
        max-width: 500px;
        width: 100%;
        height: 68px;
        color: $grey-300;
        background: $beige-100;

        &:hover {
          background: $beige-200;
          cursor: pointer;
        }

        @media screen and (max-width: 375px) {
          padding: 10px;
          max-width: 278px;
          width: 100%;
          height: 43px;
        }

        // стилизация радиокнопок и чекбоксов
        &[type="radio"],
        &[type="checkbox"] {
          width: 26px;
          height: 26px;
          accent-color: $black;

          @media screen and (max-width: 375px) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}