@use "../vars" as *;
@use "../mixin" as *;
@use "../templates";

.section-hero {
  background-image: url('../../assets/imgs/header-img.png');
  background-repeat: no-repeat;
  background-position: left;

  margin-top: -88px;
  padding: 207px 0 119px 0;
  color: $white;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1024px) {
    background-position: center;
  }

  @media screen and (max-width: 360px) {
    padding: 140px 0 52px 0;
    background-size: cover;
  }

  .section-hero__wrap {
    @extend %container;
    @include offset;

    @media screen and (max-width: 360px) {
      width: 95%;
    }

    .section-hero__inner {
      width: 100%;
      max-width: 768px;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;


      .section-hero__title {
        margin: 0;
        width: 100%;

        @media screen and (max-width: 360px) {
          position: relative;
          left: 1px;
        }
      }

      .section-hero__description {
        width: 100%;
        max-width: 563px;
        margin-top: 50px;

        @media screen and (max-width: 1024px) {
          max-width: 410px;
          letter-spacing: 0.002em;
        }

        @media screen and (max-width: 860px) {
          font-size: 1.125rem; //18px
        }

        @media screen and (max-width: 765px) {
          font-size: 1.0625rem; //17px
        }

        @media screen and (max-width: 375px) {
          font-size: 1rem; // 16px
          margin-top: 45px;
        }

        @media screen and (max-width: 360px) {
          font-size: 1rem; // 16px
          margin-top: 40px;
          position: relative;
          left: 1px;
          top: 1px;
          letter-spacing: 0.005em;
        }
      }

      .section-hero__button {
        border-radius: 10px;
        padding: 5px 20px;
        width: 118px;
        height: 34px;

        background: $white;

        font-weight: 400;
        font-size: 1.0625rem; // 17px
        line-height: 1.42;
        letter-spacing: -0.01em;
        color: $black;

        margin-top: 50px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background: $orange-200;
          color: $white;
        }

        &:active {
          background: $orange-100;
          color: $black;
        }

        @media screen and (max-width: 360px) {
          font-size: 1rem; // 16px
          margin-top: 41px;

          width: 114px;
          height: 33px;
        }
      }
    }
  }
}