.header {
  width: 100%;
  max-width: 1920px;
  height: 88px;

  background-color: aquamarine;

  margin: 0 auto;
}

.logo {}

.container {
  width: 100%;
  max-width: 1168px;
  height: 30px;
}

.navbar {}

.navbar__items {}

.navbar__item {}

.navbar__link {}

.phone {}